<!DOCTYPE html>
<html>
<head>
    <title>Sandbox</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
    
</head>
<body ng-app="sandboxApp">
    <div ng-controller="toyController as toy">
            {{toy.title}}
            <input type="text" ng-model="toy.text" />
            <h1>Hello {{toy.text}}</h1>
    </div>
    <hr />
    <table> 
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
        <tr ng-repeat="item in toy.fakedata">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
        </tr>
    </table>
    
    <script type="text/javascript" src="./sandbox.app.js"></script>
    <script type="text/javascript" src="./toy.controller.js"></script>
    <script type="text/javascript" src="./fiddle.service.js"></script>
</body>
</html>
