<!DOCTYPE html>
<html>
<head>
    <title>Sandbox</title>
    <script type="text/javascript" src="./lib/angular.js"></script>
    <script type="text/javascript" src="./lib/angular-route.js"></script>
    <script type="text/javascript" src="./lib/angular-resource.js"></script>
    
    <script type="text/javascript" src="./lib/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap-theme.css"></link>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    <style>
    .chart rect {
        fill: steelblue;
        }

        .chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
        }
        
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        
    </style>
    
</head>
<body ng-app="sandboxApp">
    <div ng-controller="toyController as toy" class="container">
        <div class="row">
            <div class="col-lg-12"> 
                <h1>{{toy.title}}</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12"> 
                Text: <input type="text" ng-model="toy.text" />
                <h3>Hello {{toy.text}}</h3>
                <br>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3"> 
                <sand></sand>
            </div>
            <div class="col-lg-4" id="d3loc">
            </div>
            <div class="col-lg-5">
                <svg class="chart"></svg>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12"> 
                <form>
                    <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search da datas" ng-model="searchGrid">
                    </div>      
                    </div>
                </form>
            </div>
        </div>
            
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse ">
                    ID 
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                    Title 
                    <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
            </thead> 
            <tbody>
                <tr ng-repeat="item in toy.fakedata | orderBy:sortType:sortReverse | filter:searchGrid">
                    <td class="text-danger">{{item.id}}</td>
                    <td>{{item.title}}</td>
                </tr>
            </tbody>
        </table>
            
    </div> 
    
    
    
    <script type="text/javascript" src="./sandbox.app.js"></script>
    <script type="text/javascript" src="./toy.controller.js"></script>
    <script type="text/javascript" src="./fiddle.service.js"></script>
    
    <script type="text/javascript" src="./sand.directive.js"></script>   
    
    <script type="text/javascript" src="./lib/c3.js"></script>
    <script type="text/javascript" src="./lib/d3.js"></script>
</body>
</html>
